body{
    margin: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    background-image:url(Opeth.jpeg);
    /* background-color: rgba(0, 0, 0, 0.868); */
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsla(0, 0%, 0%, 0.64);
    border-radius: 15px;
    max-width: 690px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.4);  
}

#display{
    width: 95%;
    padding: 20px;
    font-size: 3rem;
    text-align: right;
    border: none;
    border-radius: 9px;
    background-color:hsla(0, 0%, 0%, 0.64);
    color: white;
}

#keys {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap:10px;
    padding: 25px;

}

button{
    width: 100px;
    height:100px;
    border-radius: 50px;
    border: none;
    background-color: hsla(0, 0%, 0%, 0.59);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    transform: scale(0.95);
}

button:hover{
    background-color: hsla(0, 0%, 0%, 0.79);
}

button:active{
    background-color: hsla(0, 0%, 0%, 0.89);
}

.operator{
    /* background-color: hsl(44, 100%, 43%); */
    background: linear-gradient(145deg, #ffb300, #ff8800);
}

.operator:hover{
    /* background-color: hsl(44, 100%, 53%); */
    background: linear-gradient(145deg, #ffb300, #ff8800);
}

.operator:active{
    background-color: hsl(44, 100%, 63%);
}

